@import '~bootstrap/scss/bootstrap';

#authenticated {
  display: none;
}
#game {
  display: none;
}

.box {
  background-color: grey;
  border: black solid;
}

.failure {
  color: red;
}

.success {
  color: green;
}
